/* nansjsbznnsja*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    flex-direction: column;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

input {
    padding: 10px;
    width: 95%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px; 
    margin: 7px;
    background-color: #28a745;
    color: white;
    width:100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#button-oten {
    padding: 10px; 
    margin: 7px;
    background-color: #28a745;
    color: white;
  //  width:100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.video-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.video-card img {
    width: 100%;
    border-radius: 4px;
}

.video-card button {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    text-align: center;
    width: 300px;
    margin: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}